body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f4f4f4;
}
input {
  padding: 10px;
  width: 80%;
  margin-top: 10px;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  background: white;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}
